body {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    font-style: normal;

    p {
        font-size: 14px;
        line-height: 22px;

        color: #848484;
    }

    select {
        width: 100%;
        height: 40px;

        border: 1px solid #A8A8A8;
        box-sizing: border-box;
        border-radius: 19px;

        background-color: #FFFFFF;

        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
        background: transparent;
        background-image: url("images/icons/fill.svg");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 16px);
        background-position-y: 14px;
        padding: 8px;
        padding-left: 16px;
        padding-right: 32px;

        font-weight: 300;
        font-size: 14px;

        color: #A8A8A8;

        outline: none;
    }

    .Header {
        padding: 32px;

        background-color: #75BC97;
        background-image: url("images/hero/mobile/mobile-leaves.png");
        background-size: 100% auto;
        background-repeat: no-repeat;

        #logo {
            width: 160px;
        }
        h1 {
            margin-top: 36px;
            
            font-weight: bold;
            font-size: 40px;
            line-height: 49px;
            color: #FFFFFF;
        }
        #arrow-down {
            height: 39px;

            margin-bottom: 48px;
        }
        #mobile-plantperson {
            width: 100%;
        }
    }

    .Content {
        padding: 18px 38px 32px 38px;

        .sun {
            p {
                margin-top: 4px;
                margin-bottom: 16px;
            }
            select {
                margin-top: 4px;
            }
            #sun-image {
                width: 75px;
            }
        }
    }
}