body {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    font-style: normal;

    * {
        box-sizing: border-box;
    }

    p {
        font-size: 14px;
        line-height: 22px;

        color: #848484;
    }

    select {
        width: 100%;
        height: 40px;

        border: 1px solid #A8A8A8;
        box-sizing: border-box;
        border-radius: 19px;

        background-color: #FFFFFF;

        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
        background: transparent;
        background-image: url("images/icons/fill.svg");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 16px);
        background-position-y: 14px;
        padding: 8px;
        padding-left: 16px;
        padding-right: 32px;

        font-weight: 300;
        font-size: 14px;

        color: #A8A8A8;

        outline: none;
    }

    .Header {
        padding: 32px;

        background-color: #75BC97;

        &__Introduction {
            position: relative;

            z-index: 99;

            #logo {
                width: 160px;
            }
            h1 {
                margin-top: 36px;
                
                font-weight: bold;
                font-size: 40px;
                line-height: 49px;
                color: #FFFFFF;
            }
            #arrow-down {
                height: 39px;
    
                margin-bottom: 48px;
            }
        }
        
        #mobile-plantperson {
            width: 100%;
        }
        #desktop-plantperson {
            display: none;
        }
    }
    .Header::before {
        content: '';

        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background-image: url("images/hero/mobile/mobile-leaves.png");
        background-size: 100% auto;
        background-repeat: no-repeat;

        z-index: 2;
    }

    .Content {
        padding: 18px 38px 32px 38px;

        .section {
            padding-bottom: 50px;

            p {
                margin-top: 4px;
                margin-bottom: 16px;
            }
            select {
                margin-top: 8px;
            }
            #section-icon {
                height: 75px;

                margin-bottom: 4px;
            }
        }
    }

    .No-Result {
        display: none;
        
        padding: 36px;

        background-color: #F2F2F2;

        text-align: center;

        h1 {
            margin-top: 16px;
            margin-bottom: 0;

            text-align: left;
            font-weight: bold;
            font-size: 45px;
            line-height: 55px;

            color: #A9A9A9;
        }

        p {
            text-align: left;
            font-size: 16px;
            line-height: 27px;

            color: #A9A9A9;
        }

        img {
            margin-top: 16px;
        }
    }

    .Result {
        background-color: #F2F2F2;

        &__Introduction {
            padding: 36px 36px 0 36px;

            #pick {
                height: 72px;
            }
    
            h1 {
                font-weight: bold;
                font-size: 40px;
                line-height: 49px;
    
                color: #0C261C;
            }
        }

        &__Plants {
            display: flex;

            padding: 32px 16px;
            margin-bottom: 24px;

            overflow-x: auto;

            &__Content {
                display: flex;
                flex-direction: column;
                
                padding: 24px 22px 22px 22px;

                border-radius: 5px;
                
                background: #FFFFFF;

                box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.0925754);

                img {
                    height: 220px;

                    margin-top: 8px;
                }

                h3 {
                    margin: 4px 0 2px 0;

                    font-weight: bold;
                    font-size: 16px;
                    line-height: 28px;

                    color: #1E6B4E;
                }

                &__Label {
                    width: 170px;

                    margin-left: -22px;

                    padding: 8px 16px;

                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;

                    font-weight: bold;
                    color: #FFFFFF;

                    background: #75BC97;

                    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.181163);

                    z-index: 9;
                }

                &__Details {
                    display: flex;
                    justify-content: space-between;

                    &__Price {
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 28px;

                        color: #257556;
                    }
                    &__Categories {
                        display: flex;

                        img {
                            height: 16px;
                        }

                        img+img {
                            margin-left: 6px;
                        }
                    }
                }
            }

            div+div {
                margin-left: 16px;
            }
        }

        &__Buttons {
            padding: 0 36px;
            padding-bottom: 32px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
    
                width: 100%;
                height: 50px;
    
                border: 1px solid #15573F;
                box-sizing: border-box;
                border-radius: 25px;
    
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
    
                color: #196146;
    
                cursor: pointer;
    
                img {
                    margin-right: 16px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    body {
        p {
        }
    
        select {
        }
    
        .Header {
            max-height: 500px;
            
            display: flex;
            justify-content: center;
            
            &__Introduction {
                width: 400px;

                margin: 0 48px;

                #logo {
                }
                h1 {
                    font-size: 70px;
                    line-height: 85px;
                }
                #arrow-down {
                }
            }
            
            #mobile-plantperson {
                display: none;
            }
            #desktop-plantperson {
                display: block;

                height: 428px;


            }
        }
        .Header::before {
            background-image: url("images/hero/desktop/left-leaves.png");
            background-size: auto 500px;
            background-position: top left;
        }
        .Header::after {
            content: '';

            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            background-image: url("images/hero/desktop/right-leaves.png");
            background-size: auto 500px;
            background-repeat: no-repeat;
            background-position: top right;

            z-index: 2;
            
        }
    
        .Content {
            .section {
                p {
                }
                select {
                }
                #section-icon {
                }
            }
        }
    
        .No-Result {
            h1 {
            }
    
            p {
            }
    
            img {
            }
        }
    
        .Result {
            &__Introduction {
                #pick {
                }
        
                h1 {
                }
            }
    
            &__Plants {
                &__Content {
                    img {
                    }
    
                    h3 {
                    }
    
                    &__Label {
                    }
    
                    &__Details {
                        &__Price {
                        }
                        &__Categories {
                            img {
                            }
    
                            img+img {
                            }
                        }
                    }
                }
    
                div+div {
                }
            }
    
            &__Buttons {
                button {
                    img {
                    }
                }
            }
        }
    }
}
